/*Begin Sign In Form*/
#signInForm {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: blanchedalmond;
  border-radius: 5px;
}

#signInForm label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: black;
}

#signInForm input[type="text"],
#signInForm input[type="password"] {
  display: block;
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 100px;
  border: 1px solid black;
  border-radius: 3px;
}

#signInForm button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#signInForm button[type="submit"]:hover {
  background-color: burlywood;
}
/*End Sign In Form*/

/*Begin Sign In Form*/
#ContactForm {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: blanchedalmond;
  border-radius: 5px;
}
#ContactForm label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: black;
}
#ContactForm input[type="text"],
#ContactForm input[type="password"] {
  display: block;
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 100px;
  border: 1px solid black;
  border-radius: 3px;
}
#ContactForm button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
#ContactForm button[type="submit"]:hover {
  background-color: burlywood;
}
/*End Sign In Form*/